.continer{
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: #fff;
  min-height: 100px;
}
.task{
  position: relative;
  padding: 30px 20px;
}
.task input{
  width: 75%;
  height: 45px;
  font-family: 'poppins',sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}
.reset{
  padding: 30px;
      background: #6666;
  border-radius: 5px;
 transition: transition 1s;
}
.resrt:hover{
  transform: rotate(360deg);
}